body {
    background-color: #e6e6fa;
    
    }

hr { 
    border-color:grey;
    border-style: dotted none none;
    width: 8%;
    border-width: 8px;

 }
img {
    width: 200px;
}

h1 {
 color: purple;
 font-family: ;


}
h3 {
 color: purple;
 font-style: oblique;

}